---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title="Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Projetos</div>
  </div>

  <div class="divider my-0"></div>
  
  <HorizontalCard
    title="Sistema de Gerenciamento de Assistência Técnica (SaaS ElectroCodeOS)"
    img="/appelectrocode.png"
    desc="SaaS com front-end em React, backend em Node.js e banco de dados MySQL, orquestrado via Docker Compose. Gerencia clientes, equipamentos, serviços, produtos e financeiro, com autenticação JWT e controle de acesso."
    url="https://electrocode.com.br/app/#"
  />
  <ul class="list-disc md:columns-5 columns-2 mx-6 mb-6">
    <li>React</li> <li>Node.js</li> <li>MySQL</li> <li>Docker Compose</li> <li>JWT</li>
  </ul>

  <div class="divider my-0"></div>

  <HorizontalCard
    title="Site da empresa ElectroCode"
    img="/electrocode.png"
    desc="Site institucional desenvolvido em HTML, CSS e JavaScript, hospedado via SaaS da empresa em VPS."
    url="https://electrocode.com.br#"
  />
  <ul class="list-disc md:columns-5 columns-2 mx-6 mb-6">
    <li>HTML</li> <li>CSS</li> <li>JavaScript</li>  <li>VPS</li>
  </ul>

  <div class="divider my-0"></div>
  
  <HorizontalCard
    title="Site VMI Informática"
    img="/siteVMI.png"
    desc="Site em HTML CSS e Javascript já o aplicativo de Ordem de Serviço de equipamentos da empresa app em PHP com banco de dados Mysql , o cliente acessa o app pelo site."
    url="https://www.vmi-informatica.com.br/#"
  />
  <ul class="list-disc md:columns-5 columns-2 mx-6 mb-6">
    <li>HTML</li> <li>CSS</li> <li>JavaScript</li> <li>PHP</li> <li>MySQL</li>
  </ul>
  
  <div class="divider my-0"></div>
  
  <HorizontalCard
    title="APP de Ordem de Serviço"
    img="/OS.png"
    desc="App de cadastro de clientes , equipamentos e controle financeiro,  escrito em PHP com banco de dados Mysql feito opção para o cliente se cadastrar online e a possibilidade de cadstrar equipamentos antes e enviar "
    url="https://vmi-informatica.com.br/os/index.php/os"
  />
  <ul class="list-disc md:columns-5 columns-2 mx-6 mb-6">
    <li>PHP</li> <li>MySQL</li> <li>Bootstrap</li> <li>jQuery</li> <li>PhpMyAdmin</li>
  </ul>
  
  <div class="divider my-0"></div>
  
  <HorizontalCard
    title="App ConXtract"
    img="/contract.png"
    desc="ConXtract em desenvolvimento: Um aplicativo para contratos imobiliários, utilizando as tecnologias Golang, React e DynamoDB, hospedado na AWS. Em breve link"
    badge="NEW"
  />
  <ul class="list-disc md:columns-5 columns-2 mx-6 mb-6">
    <li>React</li> <li>Javascript</li> <li>Golang</li> <li>DynamoDB</li>
    <li>AWS</li> <li>Lambda</li> <li>EC2</li> <li>S3</li>
  </ul>
  
  <div class="divider my-0"></div>
  
  <HorizontalCard
    title="Pagina de Login, Cadastro e recuperação"
    img="/marcenaria.png"
    desc="Neste serviço trabalhei durante alguns meses e contribui com pagina de login cadastro e recuperação de senha, o projeto é em PHP Laravel com banco de dados Mysql."
    url="https://marcenariadigital.com/login"
  />
  <ul class="list-disc md:columns-5 columns-2 mx-6 mb-6">
    <li>PHP</li> <li>MySQL</li> <li>Bootstrap</li>
  </ul>
  
  <HorizontalCard
    title="Cadastro Igreja"
    img="/proIgreja.png"
    desc="O aplicativo foi desenvolvido utilizando as tecnologias Node.js, Express e SQLite3. Ele é utilizado em um computador local da igreja e está hospedado em um servidor próprio, utilizando Docker. Opera sem depender de conexão com a internet."
    url="https://github.com/erascardsilva/church-app-project"
  />
  <ul class="list-disc md:columns-5 columns-2 mx-6 mb-6">
    <li>Node.js</li> <li>Express</li> <li>SQLite3</li> <li>Docker</li>
  </ul>

  <div class="divider my-0"></div>
  
  <HorizontalCard
    title="Portfólio"
    img="/curriculo.png"
    desc="Portfólio em NODE | template Astro." 
    url="https://github.com/erascardsilva/curriculo"
  />

  <div class="divider my-0"></div>
  
</BaseLayout>
